﻿<div class="about">

    <h1>Om Surfspots</h1>

    <div class="about-row">

        <div class="about-topics">
            <ul style="list-style-type:none">
                <li><a href="/om-surfspots">Surfspots</a></li>
                <li><a href="/om-gruppen">Gruppen</a></li>
                <li><a href="/om-projektet">Projektet</a></li>
            </ul>
        </div>

        <div class="about-content">
            <div class="about-content-topic">
                <h2>Projektet</h2>
                <p>
                    Surfspots er et projekt uddelt på 3. semester af datamatiker uddannelsen på UCL Erhvervsakadami.<br />
                    Dette projekt har som formål at udvide de studerendes (sidens ejere/skabere) færdigheder og viden indenfor HTML og Javascripting.
                </p>
            </div>
        </div>

    </div>

</div>