﻿<div class="about">
    <h1>Om Surfspots</h1>

    <div class="about-row">

        <div class="about-topics">
            <ul style="list-style-type:none">
                <li><a href="/om-surfspots">Surfspots</a></li>
                <li><a href="/om-gruppen">Gruppen</a></li>
                <li><a href="/om-projektet">Projektet</a></li>
            </ul>
        </div>

        <div class="about-content">

            <div class="about-content-topic">
                <h2>Gruppen</h2>
                <p>
                    Gruppen der står bag Surfspots er seks studerende på Datamatiker uddannelsen på UCL Erhvervsakademi.
                </p>

                <div class="about-content-group">
                    <div class="about-content-member">
                        <div class="about-member-image">
                            <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" />
                        </div>

                        <h3>Patrick Larsen</h3>
                        <p>
                            Lorem Impsum
                        </p>
                    </div>

                    <div class="about-content-member">
                        <div class="about-member-image">
                            <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" "  />
                        </div>
                        <h3>Christian Werenberg la Cour Clausen</h3>
                        <p>
                            Lorem Impsum
                        </p>
                    </div>

                    <div class="about-content-member">
                        <div class="about-member-image">
                            <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" "  />
                        </div>
                        <h3>Danny Mathiassen Møller</h3>
                        <p>
                            Lorem Impsum
                        </p>
                    </div>
                </div>

                <div class="about-content-group">
                    <div class="about-content-member">
                        <div class="about-member-image">
                            <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" "  />
                        </div>
                        <h3>Jonas Storm</h3>
                        <p>
                            Lorem Impsum
                        </p>
                    </div>

                    <div class="about-content-member">
                        <div class="about-member-image">
                            <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" "  />
                        </div>
                        <h3>Marius Klint Hansen</h3>
                        <p>
                            Lorem Impsum
                        </p>
                    </div>

                    <div class="about-content-member">
                        <div class="about-member-image">
                            <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" "  />
                        </div>
                        <h3>Michel Nguyen</h3>
                        <p>
                            Lorem Impsum
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>