﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model surfspots.Models.Beach

<div class="div-beach">
    <h1>@Model.Name</h1>
    <div class="crop">
        <img src="https://wallpaperaccess.com/full/399963.jpg" />
    </div>

    <div class="beach-column">
        <div class="beach-column1">
            <h2>Vejrdata</h2>
            <p>@Html.DisplayNameFor(x => x.WeatherData.AirTemperature) : @Html.DisplayFor(x => x.WeatherData.AirTemperature)</p>
            <p>@Html.DisplayNameFor(x => x.WeatherData.WaterTemperature) : @Html.DisplayFor(x => x.WeatherData.WaterTemperature)</p>
            <p>@Html.DisplayNameFor(x => x.WeatherData.WaveHeight) : @Html.DisplayFor(x => x.WeatherData.WaveHeight)</p>
            <p>@Html.DisplayNameFor(x => x.WeatherData.WavePeriod) : @Html.DisplayFor(x => x.WeatherData.WavePeriod)</p>
            <p>@Html.DisplayNameFor(x => x.WeatherData.WindSpeed) : @Html.DisplayFor(x => x.WeatherData.WindSpeed)</p>
            <p>@Html.DisplayNameFor(x => x.WeatherData.TimeStamp) : @Html.DisplayFor(x => x.WeatherData.TimeStamp)</p>

            <br />

            <h2>Vurdering</h2>
            @for (int i = 0; i < Model.TotalRating; i++)
            {
                Model.RatingDisplayed += "★";
            }
            @for (int i = Model.TotalRating; i < 5; i++)
            {
                Model.RatingDisplayed += "☆";
            }
            <p>@Html.DisplayNameFor(x => x.TotalRating) : @Html.DisplayFor(x => x.RatingDisplayed)</p>
        </div>
        <div class="beach-column2">
            <p>@Html.DisplayFor(x => x.Description)</p>
        </div>
        <div class="beach-column3" id="map">

        </div>
    </div>

</div>






<script>
    function initMap() {
    var location = {lat: @Html.Raw(Model.Lattitude.USFormat()) , lng: @Html.Raw(Model.Longtitude.USFormat())};
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 8, center: location});
        var marker = new google.maps.Marker({ position: location, map: map }); 
}
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWzyw6aoEfp2XBGUKZ6gO5cpi_yRT0-I0&callback=initMap">
</script>
