﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Kontakt os her!</h1>

    <div class="contact-container">

        <form>

            <div class="contact-row">

                <fieldset>

                    <div class="column-left">

                        <label for="name">Navn </label>
                        <input type="text"
                               id="name"
                               name="name"
                               placeholder="Indtast navn..." />

                        <label for="email">Email-adresse</label>
                        <input type="text"
                               id="email"
                               name="email"
                               placeholder="Indtast email-adresse..." />

                        <label for="subject">Emne</label>
                        <input type="text"
                               id="subject"
                               name="emne"
                               placeholder="Hvad drejer det sig om..." />

                    </div>

                </fieldset>

                <fieldset>

                    <div class="column-right">

                        <label for="subject">Besked</label>
                        <textarea id="subject"
                                  name="subject"
                                  placeholder="Skriv her...">
                        </textarea>

                    </div>

                </fieldset>

            </div>

            <div class="contact-submit">

                <input type="submit" value="Indsend">

            </div>

        </form>

    </div>
}
