﻿@{
	ViewData["Title"] = "Home Page";
}

<div class="frontpage-title-section">
	<a class="frontpage-title">SURFSPOTS</a>
	<a class="frontpage-subtitle">Find det perfekte sted at surfe</a>
</div>

<div class="navbar-search">
	<form asp-action="Search" asp-controller="Home" method="get">
		<input id="city" class="navbar-search-input" type="search" placeholder="OMRÅDE" name="city" aria-label="Bynavn">
		<button for="navbar-search-input" type="submit">SØG</button>
	</form>
</div>

@section Scripts {
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$(document).ready(function () {
			$('#city').autocomplete({
				source: 'https://localhost:44377/weatherforecast/search'
			});
		});
	</script>
}