﻿@model IEnumerable<surfspots.Models.City>

@{
	ViewData["Title"] = "Lokationer";
	var cityCount = ViewBag.cityCount;
	ViewBag.Nav = "locations";

	var prevDisabled = ViewBag.page == 1 ? "disabled" : "";
	var nextDisabled = ViewBag.page == Math.Ceiling((double)ViewBag.cityCount / 10) ? "disabled" : "";
}

<h1>Lokationer</h1>
<p>Der er <b>@cityCount</b> lokationer i databasen</p>
@if (User.Identity.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("Admin")))
{
	<p>
		<a asp-controller="Home" asp-action="CreateLocation">Opret ny lokation</a>
	</p>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.country)
			</th>
			<th class="text-right">
				Handling
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.country)
				</td>
				<td class="text-right">
					<form asp-action="DeleteLocation" asp-route-id="@item.id" method="post">
						@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
						{
							<a class="btn btn-sm btn-success" asp-controller="Admin" asp-action="EditLocation" asp-route-city="@item.name"><span class="fa fa-pencil" /></a>
						}
						<a class="btn btn-sm btn-primary" asp-action="Search" asp-route-city="@item.name"><span class="fa fa-info-circle" /></a>
						@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
						{
							<button type="submit" class="btn btn-sm btn-danger">
								<span class="fa fa-trash-o" />
							</button>
						}
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

<a class="btn btn-primary @prevDisabled" href="@Url.Action("Locations", "Home", new { size = 10, page = (ViewBag.page - 1) })">Forrige</a>
<a class="btn btn-primary @nextDisabled" href="@Url.Action("Locations", "Home", new { size = 10, page = (ViewBag.page + 1) })">Næste</a>