﻿@model surfspots.Models.Beach

<div class="profile-page-right">
    <h2>Tilføj ny strand</h2>

    @using (Html.BeginForm())
    {
        <table>
            <tr class="input-box">
                <td>@Html.LabelFor(beach => beach.Name, new { @class = "input-label" })</td>
                <td>@Html.TextBoxFor(beach => beach.Name, new { @class = "input-field" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(beach => beach.Lattitude, new { @class = "input-label" })</td>
                <td>@Html.TextBoxFor(beach => beach.Lattitude, new { @class = "input-field" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(beach => beach.Longtitude, new { @class = "input-label" })</td>
                <td>@Html.TextBoxFor(beach => beach.Longtitude, new { @class = "input-field" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(beach => beach.Image, new { @class = "input-label" })</td>
                <td>@Html.TextBoxFor(beach => beach.Image, new { @class = "input-field" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(beach => beach.Description, new { @class = "input-label" })</td>
                <td>@Html.TextAreaFor(beach => beach.Description, new { @class = "input-field" })</td>
            </tr>
            <tr>
                <td><button class="submit-button" type="submit">Opret</button></td>
                <td><a href="@Url.Action("Index","Home")" class="cancel-button">Annuller</a></td>
            </tr>
        </table>
    }

</div>

