﻿@model surfspots.Models.WeatherData

<h1>Midlertidig side</h1>
    <p>
        <b>Temp:</b>
        @Model.AirTemperature
        <br />
        <b>W.Speed:</b>
        @Model.WindSpeed
        <br />
        <b>Tid:</b>
        @Model.TimeStamp
    </p>