﻿@model surfspots.Models.WeatherData

<h1>Test site for bølge og vejr data</h1>


<div>
    <img src="https://localhost:44377/weatherforecast/waveperiod?lat=55.724403&lon=10.053320" alt="Bølgeperiode" style="max-height: 350px;"/>

    <p>
        @Model.WaterTemperature
        <br />
        @Model.WaveHeight
    </p>

</div>
