﻿<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>
    <div class="header">

        <div>
            <p class="navbar_logo">SURFSPOTS</p>
        </div>

        <div class="navbar">
            <a class="navbar-item" href="@Url.Action("Index", "Home")">FORSIDE</a>
            <a class="navbar-item" href="@Url.Action("Locations", "Home")">LOKATIONER</a>
            <a class="navbar-item" href="@Url.Action("Contact", "Home")">KONTAKT</a>
            <a class="navbar-item" href="@Url.Action("AboutUs","Home")">OM OS</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="navbar-item" href="@Url.Action("ViewAccount", "Account")">PROFIL</a>
                <a class="navbar-item" href="@Url.Action("SignOut", "Account")">LOGUD ( @User.Identity.Name.ToUpper() )</a>
            }
            else
            {
                <a class="navbar-item" href="@Url.Action("SignIn", "Account")">LOGIN</a>
            }
        </div>
    </div>

    @RenderBody()

    <div class="footer">
        <p>UCL - PROJECT</p>

    </div>

    @RenderSection("Scripts", required: false)
    <script src="_framework/blazor.server.js"></script>

</body>
</html>
