﻿@model surfspots.Models.Account.ChangePasswordViewModel

<div class="profile-page">

    <h1>MIN PROFIL</h1>
    <div class="profile-page-row">


        <div class="profile-page-left">
            <a href="@Url.Action("ViewAccount", "Account")">Se profil</a>
            <a href="@Url.Action("ChangeEmail", "Account")">Ændre email</a>
            <a href="@Url.Action("ChangePassword", "Account")">Ændre kode</a>
            <a href="@Url.Action("PaymentDetails", "Account")">Betalingsoplysninger</a>
        </div>


        <div class="profile-page-right">


            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <td>@Html.LabelFor(x => x.OldPassword)</td>
                        <td>@Html.EditorFor(x => x.OldPassword)</td>
                        @Html.HiddenFor(x => x.User.Id)
                        @Html.ValidationSummary()
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.NewPassword)</td>
                        <td>@Html.EditorFor(x => x.NewPassword)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.NewPassword)</td>
                        <td>@Html.EditorFor(x=> x.ConfirmNewPassword) </td>
                        @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
                    </tr>
                </table>
                <button class="submit-button" type="submit">Opdater</button>
                <a class="cancel-button" href="@Url.Action("ViewAccount","Account")" type="reset">Anuller</a>
            }


        </div>
    </div>
</div>
