﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model surfspots.Models.RegisterViewModel

<h1>Registrer</h1>

@using (Html.BeginForm())
{
            @Html.ValidationSummary()
<table>
    <tr>
        <th>
            @Html.LabelFor(x => x.EmailAdress)
        </th>
        <th>
            @Html.EditorFor(x => x.EmailAdress)
        </th>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(x => x.Password)
        </th>
        <th>
            @Html.EditorFor(x => x.Password)
        </th>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(x => x.ConfirmPassword)
        </th>
        <th>
            @Html.EditorFor(x => x.ConfirmPassword)
        </th>
    </tr>
</table>




    <button type="submit">Registrer</button>
}
