﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model surfspots.Models.LoginViewModel


<div class="login-div">
    
    <h1>LOGIN</h1>

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary()
        <table>
            <tr>
                <th>
                    @Html.LabelFor(x => x.EmailAdress)
                </th>
                <td>
                    <div class="login-section">
                    @Html.EditorFor(x => x.EmailAdress)
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(x => x.Password)
                </th>
                <th>
                    @Html.EditorFor(x => x.Password)
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="submit-button center-button" type="submit">Login</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="center-button" href="@Url.Action("SignUp", "Account")">Registrer</a>
                </td>
            </tr>
        </table>

    }
</div>