﻿@model surfspots.Models.Account.ViewAccountViewModel

<div class="profile-page">

    <h1>MIN PROFIL</h1>
    <div class="profile-page-row">


        <div class="profile-page-left">
            <a href="@Url.Action("ViewAccount", "Account")">Se profil</a>
            <a href="@Url.Action("ChangeEmail", "Account")">Ændre email</a>
            <a href="@Url.Action("ChangePassword", "Account")">Ændre kode</a>
            <a href="@Url.Action("PaymentDetails", "Account")">Betalingsoplysninger</a>
        </div> 

        <div class="profile-page-right">

            <p>Vis abbonnementdata</p>

        </div>
    </div>
</div>