﻿@using Microsoft.AspNetCore.Components.Web


<div class="about-topics">
    <ul style="list-style-type:none">
        <li><button @onclick="() => ChangeTopic(page.general)">Surfspots</button></li>
        <li><button @onclick="() => ChangeTopic(page.team)">Gruppen</button></li>
        <li><button @onclick="() => ChangeTopic(page.project)">Projektet</button></li>
    </ul>
</div>

<div class="about-content">

    @if (selection == page.general)
    {



        <div class="about-content-topic">
            <h2>Surfspots</h2>
            <p>
                Surfspots er en hjemmeside der hjælper surfere til at finde gode strande at surfe på.
            </p>
        </div>


    }

    @if (selection == page.team)
    {
        <h2>Gruppen</h2>
        <p>
            Gruppen der står bag Surfspots er seks studerende på Datamatiker uddannelsen på UCL Erhvervsakademi.
        </p>

        <div class="about-content-group">
            <div class="about-content-member">
                <div class="about-member-image">
                    <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" />
                </div>

                <h3>Patrick Larsen</h3>
                <p>
                    Lorem Impsum
                </p>
            </div>

            <div class="about-content-member">
                <div class="about-member-image">
                    <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" />
                </div>
                <h3>Christian Werenberg la Cour Clausen</h3>
                <p>
                    Lorem Impsum
                </p>
            </div>

            <div class="about-content-member">
                <div class="about-member-image">
                    <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" />
                </div>
                <h3>Danny Mathiassen Møller</h3>
                <p>
                    Lorem Impsum
                </p>
            </div>
        </div>
        <div class="about-content-group">
            <div class="about-content-member">
                <div class="about-member-image">
                    <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" />
                </div>

                <h3>Patrick Larsen</h3>
                <p>
                    Lorem Impsum
                </p>
            </div>

            <div class="about-content-member">
                <div class="about-member-image">
                    <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" />
                </div>
                <h3>Christian Werenberg la Cour Clausen</h3>
                <p>
                    Lorem Impsum
                </p>
            </div>

            <div class="about-content-member">
                <div class="about-member-image">
                    <img src="https://api.timeforkids.com/wp-content/uploads/2020/04/200410016385.jpg?w=1455&h=970" alt="profile-pic" />
                </div>
                <h3>Danny Mathiassen Møller</h3>
                <p>
                    Lorem Impsum
                </p>
            </div>
        </div>

    }

    @if (selection == page.project)
    {
        <div class="about-content-topic">
            <h2>Projektet</h2>
            <p>
                Surfspots er et projekt uddelt på 3. semester af datamatiker uddannelsen på UCL Erhvervsakadami.<br />
                Dette projekt har som formål at udvide de studerendes (sidens ejere/skabere) færdigheder og viden indenfor HTML og Javascripting.
            </p>
        </div>
    }
</div>


@code {

    private enum page
    {
        general,
        project,
        team
    }
    private page selection { get; set; }

    protected override void OnInitialized()
    {
        selection = page.general;
    }

    private void ChangeTopic(page page)
    {
        selection = page;
        StateHasChanged();
    }
}
